.empviewpage{
    margin-left: 455px;
  }

.empdetail{
    margin-left: 174px;
    margin-right: 8px;
}

.month{
    margin-left: 180px;
}

.backdate{
    margin-left: 1050px;
  }

  .name_ {
    background-color: #98AFC7;
  }

  .department{
    margin-left: 23px;
  }

  .employee{
    margin-left: 120px;
  }

  